{% extends 'base.html' %}
{% block title %}User{% endblock %}
{% block content %}
    <h1>Personal page {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <p>User name: {{ user_obj.username }}</p>
 {% if request.user == user_obj %}
     <li><a href="{% url 'accounts:change' user_obj.pk %}">Change Phone Number</a></li>
        {% endif %}
    {% if ads %}
<h6>My ads</h6>
        {% for ad in ads %}
          <p class="card-text"> Ad: {{ ad.title }}</p>
           <p class="card-text"> Description: {{ ad.description }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}