{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Ads</h1>
 {% for ad in ads %}
     <div class="card" style="width: 25rem;">
     <div class="card-body">
         <p class="card-text"> title: {{ ad.title }}</p>
          {% if ad.author == request.user %}
      <a href="{% url 'webapp:change_ad' ad.pk %}"><h4>Edit</h4></a>
     <a href="{% url 'webapp:delete_ad' ad.pk %}"><h4>Delete</h4></a>
{% endif %}
         <a href="{% url 'webapp:view' ad.pk %}"><h4>Details</h4></a>
         {% if ad.image %}
        <img class="photos" src="{{ ad.image.url }}" alt="ad">
         {% endif %}
  </div>
</div>
    {% endfor %}
     </div>
 <div>{% if is_paginated %}
   {% include 'partial/pagination.html' %}
{% endif %}</div>
{% endblock %}